# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environments
.venv/

# Secrets
.env

# IDE
.idea/

# Test/coverage
.coverage
.pytest_cache/
htmlcov/

# ML artifacts
mlruns/
*.pt
*.onnx
!ww_trainer/*.onnx

# OS
.DS_Store
